.project-page {
    padding: 16px;
}

.projects {
    margin-top: 15px;
}

.projects-title {
    margin-bottom: 15px;
}

.projects-title-text {
    font-size: x-large;
}

.card {
    width: 225px;
    height: 180px;
    background: #fbfbfb;
    border: none;
    border-radius: 7px;
}

.card-preview {
    border: 1px solid #d1d1d1;
    background-color: #e3e5e9;
    border-radius: 7px;
    padding: 0.3px;
    width: 225px;
    height: 135px;
}

.card:hover {
    background-color: #f2f3f5;
}

.card-text {
    margin-top: -10px;
    font-size: small;
}

.card-title {

    margin-top: 8px;
    font-size: medium;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 30px;
}

.navigation_arr > button {
    background-color: white;
    border: none;
    font-family: 'Nunito', sans-serif;
    border-radius: 7px;
}

.card-preview img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.3em!;
  border-top-right-radius: 0.3em!;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.search-box {
  position: absolute;
  display: flex;
  top: 45%;
  right: 10%;
  width: 80%;
}

.serch-content {
  position: relative;
}

.box-for-head {
  text-align: center;
  position: absolute;
  top: 30%;
  right: 10%;
  color: white;
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
}
