.tui-image-editor-help-menu.top {
    display: flex;
    align-items: center;
}

.tui-image-editor-help-menu.top li.tui-image-editor-item {
    padding-top: 0px;
}

.tui-image-editor-header-logo {
  display: none;
}
